* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 0;

  color-scheme: light dark;
  color: #1E1E1E;
  background-color: #565656;

  background: url('./assets/bg.jpg') center/cover no-repeat fixed;
  height: 100%; /* Set the height to 100% of the viewport */
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
